.tagsView-container{
  width: 100%;
	margin-top: 64px;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #d8dce5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  .tags-wrap{
    li{
      display: inline-block;
      &:first-of-type{
        margin-left: 15px;
      }
      &:last-of-type{
        margin-right: 15px;
      }
    }
  }
}


.scrollbar-container {
  overflow-y: hidden !important;
}
.scrollbar-track-vertical {
  visibility: hidden !important;
}